@import '../../../../styles/custom_variables.scss';

.ContactView {
  position: fixed;
  width: 50%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  height: 100%;
  background: $light-gray;
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    z-index: 3;
  }
  &.open {
    right: 0;
    opacity: 1;
  }
  &.closed {
    right: 100%;
    opacity: 0;
  }
}
