@import '../../../styles/custom_variables.scss';

.CreateContact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  justify-content: center;
  box-shadow: $shadow-default;
  z-index: 5;
  padding: 0px 20px;
  border-bottom: 1px solid $light-gray;
  @media (max-width: $breakpoint-tablet) {
    box-shadow: $shadow-default-hover;
    position: relative;
    padding: 10px 10px;
    margin: 0;
  }
  input {
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid $white;
    margin: 5px 5px 5px 0;
    transition: $transition-default;
    &:focus {
      outline: none;
      border-bottom: 1px solid $gray;
    }
    @media (max-width: $breakpoint-tablet) {
      float: none;
      width: 100%;
      padding: 15px 5px;
    }
  }
  &__main {
    position: relative;
    display: flex;
    margin: 10px 0;
    @media (max-width: $breakpoint-tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
    button[type='submit'] {
      position: relative;
      margin-left: auto;
      font-size: 1rem;
      border: none;
      float: right;
      background: $blue;
      color: $white;
      cursor: pointer;
      border-radius: 3px;
      padding: 15px;
      box-shadow: $shadow-default;
      transition: $transition-default;
      @media (max-width: $breakpoint-tablet) {
        float: none;
        width: 100%;
      }
      &:hover {
        transform: scale(1.01);
        box-shadow: $shadow-default-hover;
      }
    }
    .dropdown-toggle {
      cursor: pointer;
      svg {
        @include vertical-center-relative;
      }
      @media (max-width: $breakpoint-tablet) {
        display: block;
        margin: 5px 0;
        padding: 10px;
        order: 1;
        width: 100%;
        text-align: center;
        svg {
          @include vertical-center-relative;
          left: 0px;
        }
      }
    }
  }
  &__extra {
    overflow: hidden;
    transition: $transition-default;
    padding: 10px 0;
    h3 {
      margin-top: 0;
    }
    input {
      margin: 10px 0;
      @media (max-width: $breakpoint-tablet) {
        float: none;
        width: 100%;
        margin: 0;
      }
    }
    &.visible {
      opacity: 1;
      max-height: 500px;
    }
    &.hidden {
      padding: 0;
      opacity: 0;
      max-height: 0px;
    }
  }
  &__error {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    transition: $transition-default;
    background: $red;
    color: $white;
    font-weight: 700;
    &.visible {
      opacity: 1;
      max-height: 50px;
    }
    &.hidden {
      padding: 0;
      opacity: 0;
      max-height: 0px;
    }
  }
}
