@import '../../../../../styles/custom_variables.scss';

.ContactOptions {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 50px;
  .btn {
    margin: 10px 5px 0 0;
  }
  h3 {
    margin: 0;
  }

  input {
    border: none;
    background: none;
    transition: $transition-default;
    margin: 10px 5px 0 0;
    font-size: 1.1rem;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    &:focus {
      border-bottom: 1px solid $gray;
      outline: none;
    }
  }
  &__inputs {
    margin-bottom: 50px;
    label:not(#firstName):not(#surname) {
      cursor: pointer;
      display: block;
      margin-top: 10px;
      background: darken($light-gray, 2%);
      border-radius: 5px;
      padding: 8px;
    }
    #firstName,
    #surname {
      margin: 0;
      font-size: 2rem;
      padding: 2px 0;
      margin-bottom: 10px;
      @media (max-width: $breakpoint-tablet) {
        font-size: 1.5rem;
      }
    }
  }
  .close {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -5px;
    right: 0;
    background: none;
    font-size: 2rem;
    transform: translateY(-70%);
  }
}
