@import '../../../../styles/custom_variables.scss';

.ContactView {
  position: fixed;
  width: 50%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background: $light-gray;
  z-index: 4;
  overflow-y: scroll;
  @media (max-width: $breakpoint-tablet) {
    position: absolute;
    width: 100%;
  }
  &.open {
    right: 0;
    opacity: 1;
  }
  &.closed {
    pointer-events: none;
    right: -50%;
    opacity: 0;
  }
}
